.footer-container {
    /* height: 150px; */
    background-color: rgba(0, 0, 0, 0.664);
}

.footer-pages {
    color: rgb(43, 226, 125);
    font-size: 20px;
    font-weight: bold;
    display: block;

}

.subscribe-form input {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}